<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- <div class="container-fluid"> -->
<footer id="footer" style="margin-top: 30px;">
<div class="footer">
  <div class="container">
    <div class="row">
<div class="col-lg-3 col-md-6 footer-content">
  <h4 style="font-weight:300;"><strong >Fashion</strong></h4>
  <p style="font-size: 16px;">We are grateful for the opportunity to share these lands and are committed to working together with elders and Traditional Owners in realising the aspirations of our First Nations artists.</p>
  <h5>Contact Us</h5>
  <strong style="font-size: 16px;"><i class='bx bxs-phone'></i></strong> <span>Phone:09783357230</span><br>
  <strong style="font-size: 16px;"><i class='bx bx-envelope' ></i></strong> <span>Email:fas123@gmail.com</span><br>
   <strong style="font-size: 16px;"><i class='bx bxs-location-plus'></i></strong> <span>Shwe Pyi Thar Township</span>
</div>
<div class="col-lg-3 col-md-6 footer-links" style="font-size: 16px;">
  <h4 style="font-weight: 300;"><strong> Links</strong></h4>
  <ul>
    <li><a href="index.html">Fashion</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="orderform.html">Order Form</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Privacy policy</a></li>
</ul>
</div>
<div class="col-lg-3 col-md-6 footer-content">
<h4 style="font-weight: 300;"><strong>Our Services</strong></h4>
<p style="font-size: 16px;"> Fashion Services is a place to help you build, start or expand your fashion business, from a single idea, through to a fashion collection or even a full fashion brand.</p>
<ul style="font-size: 16px;">
  <li><a href="#">Smart Phone</a></li>
  <li><a href="#">Airpods</a></li>
 </ul>
</div>
<div class="col-lg-3 col-md-6 footer-links" >
  <h4 style="font-weight: 300;" ><strong>Social Network</strong></h4>
  <h5>Follow Us</h5>
  <div class="social">
 <div class="social-links mt3">
 <a href="#" class="twitter" style="padding: 2px;"><i class='bx bxl-twitter'></i></a>
  <a href="#" class="facebook" style="padding: 5px;"><i class='bx bxl-facebook-circle'></i></a>
    <a href="#" class="instagram" style="padding: 5px;"><i class='bx bxl-instagram'></i></a>
</div>
</div>
    </div>
  </div>
</div>
</div>
<hr>
<div class="container-fluid">
<div class="copyright" style="font-size: 14px;">
&copy;Copyright <strong>JOY</strong>. All right reserved
</div>
  </div>
</footer>
<!-- </div> -->

</body>
</html>