<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>JOY</title>
<link href="/bootstrap-5.3.1-dist/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">
	<script type="text/javascript"
	src="/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js">
</script>
<link href="CSS/style1.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
	rel='stylesheet'>
</head>
<div class="row m-3 border-bottom fw-bold">
	<div id="paypal-button-container"></div>
	<form th:action="@{/paypal}" method="post" id="paypalForm">
		<input type="hidden" name="cartTotal" id="FormcostTotal" th:value="${total}"> 
		<input type="hidden" name="memberId" id ="memberId" th:value="${memberId}"> 
		<input type="hidden" name="orderId" id="orderId" > 
		<input type="hidden" name="transactionId" id="transactionId">
	</form>


	<script>
		var cartTotal = document.getElementById("FormcostTotal").value;
		console.log("Cart Total: " + cartTotal);
		paypal.Buttons({
			createOrder : function(data, actions) {
				// This function sets up the details of the transaction, 
				// including the amount and line item details.
				return actions.order.create({
					purchase_units : [ {
						amount : {
							value : cartTotal
						}
					} ]
				});
			},
			onApprove : function(data, actions) {
				// This function captures the funds from the transaction.
				return actions.order.capture().then(function(details) {
					
					//Extracting some information from details
					var orderId = details.id;
					var transactionId = details.purchase_units[0].payments.captures[0].id;
					var completedBy = details.payer.name.given_name;
		
					//Printing to the console some details
					console.log("Transaction completed by " + completedBy);
					console.log("Order ID: " + orderId);
					console.log("Transaction ID: " + transactionId);
					
					//Printing full details JSON
					console.log(JSON.stringify(details));
					
					//Calling processOrder function
					processOrder(orderId, transactionId);							
				});
			}
		}).render('#paypal-button-container');

		function processOrder(orderId, transactionId) {
			
			//Set orderId and transactionId into the hidden values in the paypalForm
			document.getElementById("orderId").value = orderId;
			document.getElementById("transactionId").value = transactionId;
			document.getElementById("memberId").value = memberId;

			//Submit the paypalForm to be processed at the backend
			document.getElementById("paypalForm").submit();
			console.log("Processing Order in backend: " + orderId);
			
		}		
	</script>

</div>
