<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JOY</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/bootstrap-5.3.1-dist/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">
<link href="CSS/style1.css" rel="stylesheet" type="text/css">	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
	rel='stylesheet'>
	<script src="/bootstrap-5.3.1-dist/js/bootstrap.bundle.js">
	</script>
<style type="text/css">
body{
font-family:'Chakra Petch','sans-serif';
color:darkred;
}
</style>	
	
</head>
<body>
<div class="container">
	<div th:replace="/fragment/header"></div>
	<!-- <div class="container-fluid"> -->
		
			<h1>You are NOT authorized to view this page!</h1>
			
	
		<div th:replace="/fragment/footer"></div>
		</div>
		



	
</body>
</html>