<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>JOY</title>
<link href="/bootstrap-5.3.1-dist/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">
	<script type="text/javascript"
	src="/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js">
	</script>
	<script
src="https://www.paypal.com/sdk/js?client-id=ARUE8-PP9N7zEK5hXlxXUQaonfa4r27z6EqWm-L2b3EKJKMb7JRWO84SvjFxnEHM-2f-B-SjDere-cQC&currency=USD&components=buttons&debug=true">
</script>
<link href="CSS/style1.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
	rel='stylesheet'>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragment/header"></div>
		<main>
			<div class="container ">
				<div class="row fs-1 text-center">
					<h3 style=margin-top:20px>SHOPPING CART</h3>
				</div>
				<div class="row mb-5">
				<!-- shopping cart -->
					<div class="col-8">
						<div class="container ">
						<!-- shopping cart items header -->
							<div class="row m-3 border-top border-bottom fs-5" style=color:darkblue>
								<div class="col">ITEMS</div>
								<div class="col">PRICE</div>
								<div class="col">COLOR</div>
								<div class="col">QUANTITY</div>
								<div class="col">SUBTOTAL</div>
							</div>
						<!-- shopping cart rows -->
							<div class="row m-3 border-bottom"
								th:each="cartItem : ${cartItemList}">
								<!-- Item name, description, image -->
								<div class="col mb-3">
									<h5 th:text="${cartItem.item.name}"></h5>
								<img width="100px" th:src="@{/uploads/items/{id}/{imageName}(id=${cartItem.item.id}, imageName=${cartItem.item.imgName})}">
								</div>
								<!-- Item quantity, price, links -->
								<div class="col align-self-center" th:text="${cartItem.item.price}+'$'"></div>
								<div class="col align-self-center" th:text="${cartItem.color}"></div>
								
								<div class="col">
								<div class="qty">
								<!-- Update item quantity form -->
								<form th:action="@{/cartupdate{id}(id=${cartItem.id})}" method="post">
									<input type="number" th:value="${cartItem.quantity}" th:id="${cartItem.id}" name="qty"/> <br />
									<!-- <a class="btn btn-success" th:href="@{editcategory{id}(id=${category.id})}" role="button">Edit</a> --> 
									
									<button type="submit" class="btn btn-outline-primary">Update Cart</button>
									
									</form>
									</div>
									
								<!-- Remove item link -->	
									<!-- <a th:href="@{/cartremove{id}(id=${cartItem.id})}">Remove cart</a>
 -->									<a class="btn btn-outline-primary" th:href="@{/cartremove{id}(id=${cartItem.id})}">Remove Cart</a>
								</div>
								<div class="col align-self-center" th:text="${cartItem.subtotal}+'$'"></div>
							</div>
						</div>
					</div>
					<!-- Order summary -->
					<div class="col-4">
						<div class="container ">
							<div class="row  m-3 border-top border-bottom fw-bold">
								<div class="col text-center fs-3" style=color:darkblue>ORDER SUMMARY</div>
							</div>
							<!-- Order summary rows -->
							
							<!-- COMPLETE CODE HERE -->
							<div class="row m-3 border-bottom" th:each="cartItem:${cartItemList}">
							<div class="col fs-6">
							<p th:text="${cartItem.item.name}+' x '+${cartItem.quantity}">
							</div>
							<div class="col fs-6 text-end">
							<p th:text="${cartItem.subtotal}"></p>
							</div>
							
						</div>

							<div class="row  m-3 border-bottom fw-bold">
								<div class="col fs-6">
									<p>TOTAL</p>
								</div>
								<div class="col fs-6 text-end">
									<p id="cartTotal" th:text="${total}+'$'"></p>
								</div>
							</div>
							<div th:replace="fragment/paypal"></div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<div th:replace="fragment/footer"></div>
	</div>
</body>
</html>

