<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>JOY</title>
<link href="/bootstrap-5.3.1-dist/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">
	<script type="text/javascript"
	src="/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js">
	
</script>
<link href="CSS/style1.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
	rel='stylesheet'>
</head>
<body>
	
<!-- nav start -->
	<div th:replace="/fragment/header"></div>
		<!-- nav end -->
	<div class="container-fluid">
		<main>
			<h4 class="text-center" style=margin-top:20px>Edit Item</h4>
			<br>

			<form
				th:action="@{/editsaveItem{id}/{img}(id=${item.id},img=${item.imgName})}"
				method="post" th:object="${item}" enctype="multipart/form-data">
				<div class="mb-3 col-5">
					<label for="it"  class="form-label">Item:</label>
					<input type="text" class="form-control"
						id="item" th:field="*{name}" required minlength="3"
						maxlength="50" />
					
				</div>
				<div class="mb-3 col-5">
					<label for="category"  class="form-label">Category:</label> <select
						th:field="*{category}" id="category" class="form-control" required>
						<option value="">Choose One</option>
						<option th:each="category:${listCategories}"
							th:text="${category.name}" th:value="${category.id}"></option>
					</select>
					
				</div>

				<div class="mb-3 col-5">
					<label for="color"  class="form-label">Color:</label> 
					<input type="text" class="form-control"
						th:field="*{color}" id="color" required minlength="3"
						maxlength="20" />
									</div>
				<div class="mb-3 col-5">
					<label for="price"  class="form-label">Price:</label> 
					<input type="number" class="form-control"
						th:field="*{price}" id="price" required min=0.1 step=0.01 />
					
				</div>

				<div class="mb-3 col-5">
					<label for="qty"  class="form-label">Quantity:</label> 
					<input type="number" class="form-control"
						id="qty" th:field="*{quantity}" required min=1 step=1 />
					
				</div>

				<div class="mb-3 col-5">
					<label for="size" class="form-label">Size:</label> <input type="number" class="form-control"
						th:field="*{size}" id="size" required />
									</div>

							<div class="mb-3 col-5">
						<label for="it" class="form-label"> Image:</label>
						<input type="file" id="image" class="form-control" name="imageName" accept="image/*">
					</div>
					<div class="mb-3 col-5">
						<label for="it" > Default Image:</label>
						<img alt=""
							th:src="@{/uploads/items/{id}/{imgName}(id=${item.id},imgName=${item.imgName})}"
							id="default" width=70px height=70px>
					</div>
						<div class="mb-3 col-5">
						<button type="submit" 
								class="btn btn-outline-info">Edit Item</button>
					</div>
				
			</form>
		</main>
	</div>
	<div th:replace="/fragment/footer"></div>
</body>
</html>