<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>JOY</title>
<link href="/bootstrap-5.3.1-dist/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">
	<script type="text/javascript"
	src="/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js">
	
</script>
<link href="CSS/style1.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
	rel='stylesheet'>
</head>
<body>


<!-- nav start -->
<div th:replace="/fragment/header"></div>
<!-- nav end -->
<!-- <div class="container-fluid"> -->
<section class="home">
    <div class="content">
      <h2>Biggest Sale</h2> 
        <h2>Categoty <span class="changecontent"></span></h2><br>
        <h6> Make a bouquet and pick up a gift with<br>
            your wishes.Deliver to any corner of the city.</h6><br>
           <h5>Best Place for Online Shopping</h5><br>
           <button id="btn" class="btn1 btn-outline-info" type="submit">Shop Now</button>
            </div>
</section><!-- 
</div>
 --><!-- home content -->

<div class="container-fluid" id="top-card" style="margin-top: 30px;">
<div class="row" style="margin-left: 30px;">
  <div class="col-md-4 py-3 py-md-0">
  <div class="card" style="width: 20rem;">
    <img src="img/w7.jpg" class="card-img-top" alt="...">
  </div>
</div>
<div class="col-md-4 py-3 py-md-0">
  <div class="card" style="width: 20rem;">
        <img src="img/shoe4.jpg" class="card-img-top" alt="...">
  </div>
    </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card" style="width: 20rem;">
            <img src="img/bag4.jpg" class="card-img-top" alt="...">
            
              </div>
            </div>
            
            
<!--             <div class="">
            <div class="small-container">
                        <div class="row">
                        <div class="col-2">
                        <img src="">
                        <div class=""
                        ></div>
            </div>
                        
            </div>
            
            </div>
            </div> -->
            <a href="/viewuser" id="viewmorebtn">View All</a>
            </div>
             </div>
<div th:replace="/fragment/footer"></div>
</body>
</html>